<h1>Choose Your Opponent</h1>
<main>
    <div class="opponentContainer">
        <p class="opponent-username">{{username}}</p>
        <p class="opponent-score">{{score}}</p>
    </div>

    <form action="./game">
        <input type="submit" value="Thumbs Up" id="thumbs-up_btn" />
    </form>
    <form action="">
        <input type="submit" value="Thumbs Down" id="thumbs-down_btn" />
    </form>
</main>
